.logout {
  position: relative;
  top: 0;
  left: 30px;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  color: white;
}
.logout:hover {
  color: blueviolet;
}
.welcome-message {
  margin: auto;
  position: relative;
  bottom: 260px;
  width: 60%;
}
.welcome-message h3 {
  margin: 20px;
  font-size: 45px;
}
.new-user {
  position: relative;
  justify-content: center;
  display: flex;
}
.friend-name {
  border-radius: 10px;
  height: 25px;
  margin: 5px 0px;
}
.chat-button {
  border-radius: 10px;
  font-size: 30px;
  padding: 5px;
  margin: 5px 5px;
}
.friends-dashboard-container {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(206, 208, 218);
  border-radius: 10px;
  width: 130px;
  height: 50%;
  overflow-y: scroll;
}
.dashboard-friend-box {
  height: 30px;
  flex: auto;
  cursor: pointer;
  margin: 10px;
  width: 110px;
}
.dashboard-friend-box:hover {
  background-color: rgb(102, 107, 250);
}
.dashboard-friendName {
  right: -13px;
  position: relative;
  color: black;
  font-size: small;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
.chatsp {
  font-size: medium;
}
@media only screen and (max-width: 600px) {
  .dash {
    justify-content: center;
  }
  .welcome-message h3 {
    font-size: 15px;
  }
  .friends-dashboard-container {
    position: relative;
    top: 90px;
    margin: auto;
  }
  .new-user {
    position: relative;
    right: 30px;
  }
  .new-user input {
    font-size: 12px;
    width: 210px;
  }
  .logout {
    color: rgb(155, 132, 0);
  }
}
