.chats-container {
  margin-bottom: 20px;
  padding: 10px;
}
.settings {
  display: flex;
  width: 90px;
  flex-direction: column;
}
.back {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
}
.back:hover {
  color: rgb(50, 2, 99);
}
.logout {
  top: 30px;
  color: white;
}
.logout:hover {
  color: rgb(50, 2, 99);
}

.send-message {
  display: flex;
  justify-content: center;
}
.chat-window {
  width: 540px;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  border-radius: 5px;
  margin: auto;
  font: 10px/10px "Lato", Arial, sans-serif;
}
.chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
  height: 15px;
}
.friend-name {
  color: #434651;
  font-size: 15px;
  text-align: center;
}
.message-list {
  padding-bottom: 10px;
  list-style: none;
}
img {
  float: right;
  height: 30px;
  width: 30px;
}
.about {
  float: left;
  padding-left: 8px;
  margin-top: 8px;
}
.chat-history {
  padding: 6px 6px 0px;
  border-bottom: 2px solid white;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  height: 380px;
}
.message-data {
  margin-bottom: 10px;
}
.message-data-time {
  color: lighten(gray, 8%);
  padding-left: 6px;
  margin: 1px;
}
.message {
  color: white;
  padding: 10px 9px;
  line-height: 21px;
  font-size: 12px;
  border-radius: 7px;
  margin-bottom: 15px;
  width: 90%;
  position: relative;
}
.my-message {
  background: rgb(104, 179, 104);
}
.other-message {
  background: rgb(159, 159, 247);
}
.message-to-send {
  width: 60%;
  border-color: none;
  height: 15px;
  padding: 10px 5px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 15px;
  border-radius: 3px;
  margin-top: 10px;
  resize: none;
  margin-left: 10px;
  margin-right: 5px;
}
.send-button {
  float: right;
  color: rgb(50, 2, 99);
  font-size: 21px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 20px;
  width: 120px;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
@media only screen and (max-width: 600px) {
  .chat-window {
    width: 280px;
  }
}
